

<h1> Welcome to RPS</h1>


<form action="/new_player" method="post">
Name 	<input type="text" name="name">
Opponent:
<input type="radio" value="computer" name="opponent" id="computer">Computer<br>
<input type="radio" value="player2" name="opponent" id="player2">Player 2<br>
		<input type="submit" value="Sign in">
</form>



